<div class="jumbotron">
    <h1>Toilets of Budapest</h1>
    <p class="lead">
        <img src="images/toilet-doors.png" alt="Toilet doors"><br>
        <!--
// TODO: Find a nice project picture
-->
        Where can I go right now?!
    </p>
    <p><div class="btn-group-lg"><a class="btn btn-info" ng-href="#">I have time to choose</span></a> <!--
// TODO: Make this link work
-->
    <a class="btn btn-danger" ng-href="#/nearest">It's an emergency!</span></a></p>
</div>
</div>
<!--
// TODO: Fix this up nicely
-->
<div class="row marketing">
    <h4>HTML5 Boilerplate</h4>
    <p>
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
        AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
</div>
