<h1>Nearest toilet</h1>
<div ng-controller="NearestCtrl">
    <p>You are at {{position.coords.latitude}}, {{position.coords.longitude}}.</p>
</div>
<map center="{{position.coords.latitude}}, {{position.coords.longitude}}" zoom="17" style="display:block;height:300px">
    <marker position="{{position.coords.latitude}}, {{position.coords.longitude}}" title="You"></marker>
    <marker position="{{closestToilet.coords.latitude}}, {{closestToilet.coords.longitude}}" title="Toilet" ng-show="closestToilet"></marker>
</map>

<pre>{{position|json}}</pre>

<div ng-show="closestToilet">
    <h2>{{closestToilet.name}}</h2>
    <span class="rating">{{closestToilet.rating}}</span><!-- Skip this toilet button -->
    <p class="description">{{closestToilet.description}}</span>
<p ng-repeat="review in closestToilet.reviews" class="review">
    {{review}}
</p>
<div ng-repeat="img in closestToilet.images" class="gallery" ng-show="closestToilet.images">
    <img ng-src="img" />
</div>
</div>
