<h1>Your chosen toilet</h1>
<div ng-controller="NearestCtrl">
    <p>You are at {{position.coords.latitude}}, {{position.coords.longitude}}.</p>
</div>
<map center="{{position.coords.latitude}}, {{position.coords.longitude}}" zoom="17" style="display:block;height:300px">
    <marker position="{{position.coords.latitude}}, {{position.coords.longitude}}" title="You"></marker>
    <marker position="{{selectedToilet.coords.latitude}}, {{selectedToilet.coords.longitude}}" title="Toilet" ng-show="selectedToilet"></marker>
</map>
<div ng-show="selectedToilet">
    <h2>{{selectedToilet.name}}</h2>
    <span class="rating">{{selectedToilet.rating}}</span><!-- Skip this toilet button -->
    <p ng-repeat="review in selectedToilet.reviews" class="review">
        {{review}}
    </p>
    <div ng-repeat="img in selectedToilet.images" class="gallery" ng-show="selectedToilet.images">
        <img ng-src="img" />
    </div>
</div>
