<h1>Your closest toilets</h1>
<div ng-controller="ListToiletsCtrl">
    <div ng-repeat="toilet in toilets"> <!-- // FIXME: Code taken out for testing: ng-show="nearbyToilets" -->
        <h2>{{toilet.name}}</h2>
        <span class="rating">{{toilet.rating}}</span><!-- // TODO: Implement a skip this toilet button -->
        <p class="description">{{toilet.description}}</p>
        <p ng-repeat="review in toilet.reviews" class="reviews">
            {{review.title}}
            {{review.body}}
            {{review.author}}
        </p>
        <map center="{{toilet.location.latitude}}, {{toilet.location.longitude}}" zoom="17" style="display:block;height:300px">
            <marker position="{{toilet.location.latitude}}, {{toilet.location.longitude}}" title="{{toilet.name}}"></marker>
        </map>
        <div ng-repeat="toilet.images" class="gallery" ng-show="toilet.images">
            <img ng-src="img" />
        </div>
    </div>
</div>
